.chat-wrapper {
  height: 100%;
  position: relative;
  &:before,&:after {
    content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        box-sizing: content-box;
        z-index: -2;
    }
    &:before {
        top: -$outline-width;
        left: 0;
        border-top: $outline-width darken($dark,5%) solid;
        border-bottom: $outline-width darken($dark,5%) solid;
    }
    &:after {
        left: -$outline-width;
        top: 0;
        border-left: $outline-width darken($dark,5%) solid;
        border-right: $outline-width darken($dark,5%) solid;
    }
}

.chat-title {
  background: rgba( darken( $dark, 10% ), .5);
  padding: .5rem;
  text-transform: uppercase;
  font-family: 'Press Start 2P', cursive;
}
#chat-input{
  display: none;
}
#chat-username,#chat-input {
  background: rgba($dark, .5);
}
.chat-form input{
  flex:1;
  background: rgba( darken( $dark, 10% ), .5);
  color: #fff;
  border: 0;
  padding: .5rem;
  border-radius: 10px;
  width: 100%;  
}
#username {
  width: auto;
}
.chat-button {
  cursor: pointer;
  background: rgba( darken( $dark, 10% ), .5);
  color: #fff;
  margin-left: 10px; 
}
#messages{
  width: 100%;
  height: 250px;
 overflow-y: auto;
 background: rgba($dark, .5);
}
#messages::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 5px;
	background-color: rgba( darken( $dark, 10% ), .5);
}
#messages::-webkit-scrollbar
{
	width: 12px;
	background-color: rgba( darken( $dark, 10% ), .5);
}

#messages::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

#hello{
  display: none;
}
