.navbar {
  background: $dark;
  color: $red;
  padding: 1rem;
  box-shadow: 0px 3px 4px 0px rgba($dark, 0.7);
  font-family: 'Press Start 2P', cursive;
  font-size: .75rem;
  a {
    color: $red;
    transition: .3s all ease;
    cursor: pointer;
    &:hover,&:focus {
      color: #fff;
      text-decoration: none;
    }
  }
}
.logo {
  width: 80%;
  &:hover {
    animation-name: bounce;
    animation-duration: 1s;
  }
}
.navbar-nav li + li {
  margin-left: 2rem;
}
a#open-tour:hover {
    color: #fff;
}


@keyframes bounce {
   0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
   40% {transform: translateY(-20px);}
   60% {transform: translateY(-10px);}
}
