body {
  background: linear-gradient(to top, rgba(14, 14, 14, 0.3), rgba(45, 34, 40, 0.3)),url("pattern.png");
  // background:url("diagmonds.png");
  // background:url("pattern.png");
  background-position: center;
  height: 100vh;
  font-family: 'Nunito',sans-serif;
}
.user {
  display: flex;
  align-items: center;
}
.user-avatar {
  border-radius: 50%;
  max-width: 100px;
  border-radius: 50%;
  box-shadow: $shadow;
}
.user-avatar-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  i {
    color: $red;
  }
  p {
    color: #fff;
    display: inline;
  }
}
.user-details-wrapper {
  color: #fff;
  .h2,p {
    margin-bottom: 0.3rem;
  }
}
.btn-subscribe {
  width: 100%;
  color: #fff;
  background-color: $red;
  border:0;
  text-transform: uppercase;
  padding: 1.2rem;
  box-shadow: $shadow;
  cursor: pointer;
  &:hover,&:focus {
    background-color: darken( $red, 20% )
  }
}
#timer {
  width: 100%;
  background: #201E1F;
  border: 2px solid #E21B14;
  color: #E21B14;
  border-radius: 5px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  justify-content: space-around;
  box-shadow: $shadow;
  p {
    margin-bottom: 0;
  }
  strong {
    font-size: 1.8rem;
  }
}
