.user {
  display: flex;
  align-items: center;
}
.user-details-wrapper {
  color: #fff;
  .h2,p {
    margin-bottom: 0.3rem;
  }
  span {
    display: inline-block;
    vertical-align: middle;
    color: $red;
    p {
      display: inline-block;
    }
  }
}
#vid-username {
  display: inline-block;
  vertical-align: middle;
}
#timer {
  font-family: 'Press Start 2P', cursive;
  width: 100%;
  background: #201E1F;
  padding: .2rem;
  color: #E21B14;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  justify-content: space-around;
  position: relative;
  padding: .85rem;
  &:before,&:after {
    content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        box-sizing: content-box;
        z-index: -2;
    }
    &:before {
        top: -$outline-width;
        left: 0;
        border-top: $outline-width darken($red,5%) solid;
        border-bottom: $outline-width darken($red,5%) solid;
    }
    &:after {
        left: -$outline-width;
        top: 0;
        border-left: $outline-width darken($red,5%) solid;
        border-right: $outline-width darken($red,5%) solid;
    }
  p {
    margin-bottom: 0;
    text-align: center;
  }
  strong {
    font-size: 1.8rem;
  }
}
.progress {
  background-color: rgba(136, 104, 118,.4);
  border-radius: 0;
  height: 100%;
  box-shadow: (-$shadow-width) (-$shadow-width) 0px 0px darken($red-shadow, 10%);
  position: relative;
  &:before,&:after {
    content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        box-sizing: content-box;
        z-index: -2;
    }
    &:before {
        top: -$outline-width;
        left: 0;
        border-top: $outline-width darken($red-shadow,15%) solid;
        border-bottom: $outline-width darken($red-shadow,15%) solid;
    }
    &:after {
        left: -$outline-width;
        top: 0;
        border-left: $outline-width darken($red-shadow,15%) solid;
        border-right: $outline-width darken($red-shadow,15%) solid;
    }
}
.progress-bar {
  height: 30px;
  background-color: $red;
  box-shadow: inset (-$shadow-width) (-$shadow-width) 0px 0px $red-shadow;
  span {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
#percent {
  font-weight: 600;
  font-size: 1.2rem;
}
.stream-container {
  height: 100%;
}
.stream-container iframe{
  width: 100%;
  height: 100%;
  border: 0;
}
footer {
 position: absolute;
 right: 0;
 bottom: 10px;
 left: 0;
 span {
   cursor: pointer;
 }
}
.modal.show .modal-dialog {
   top: 15%;
}
