body {
  background: linear-gradient(to top, rgba(14, 14, 14, 0.3), rgba(45, 34, 40, 0.3)),url("pattern.png");
  background-position: center;
  height: 100vh;
  font-family: 'Nunito',sans-serif;
  color: #fff;
  outline: none;
}
input {
  outline: none;
}
.container {
  max-width: 1200px;
}

.user {
  display: flex;
  align-items: center;
}
.user-avatar {
  border-radius: 50%;
  max-width: 100px;
  border-radius: 50%;
  box-shadow: $shadow;
}
.user-avatar-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  i {
    color: $red;
  }
  p {
    display: inline;
  }
}
.user-details-wrapper {
  color: #fff;
  .h2,p {
    margin-bottom: 0.3rem;
  }
}
.btn-subscribe {
  width: 100%;
  color: #fff;
  background-color: $red;
  border:0;
  text-transform: uppercase;
  padding: 1.2rem;
  box-shadow: $shadow;
  cursor: pointer;
  &:hover,&:focus {
    color: #fff;
    background-color: darken( $red, 10% );
  }
}
#btn-keep {
  width: 100%;
  background: $green;
  color: #fff;
  cursor: pointer;
  &:hover,&:focus {
    background-color: darken($green, 10%);
  }
}
#timer {
  width: 100%;
  background: #201E1F;
  border: 2px solid #E21B14;
  color: #E21B14;
  border-radius: 5px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  justify-content: space-around;
  box-shadow: $shadow;
  p {
    margin-bottom: 0;
  }
  strong {
    font-size: 1.8rem;
  }
}
.progress {
  border-radius: .8rem;
  height: 100%;
}
.progress-bar {
  height: 100%;
  background-color: $red;
}
#percent {
  font-weight: 600;
  font-size: 1.2rem;
}
.stream-container iframe{
  width: 100%;
  border: 0;
  border-radius: 20px!important;
}
