body {
  background: linear-gradient(to top, rgba(14, 14, 14, 0.3), rgba(45, 34, 40, 0.3)),url("pattern.png");
  background-position: center;
  height: 100vh;
  font-family: 'Nunito',sans-serif;
  color: #fff;
  outline: none;
}
input {
  outline: none;
}
.container {
  max-width: 1200px;
}
