<main class="container my-3">
  <div class="row py-3 align-items-center">
      <div class='user'>
        <%= image_tag 'anonymous.jpg', class:"user-pic", alt:"User Profile Picture"%>
        <div class='user-details ml-3'>
          <h1>username</h1>
          <p>10</p>
        </div>
      </div>
      <div class='stream-details ml-5'>
        <p>is now streaming</p>
        <h2>Title of Stream</h2>
      </div>
  </div>

  <div class="row">
    <div class="col-9">
      <div class="stream-container" style='background:black; height:50vh;'>
        Video goes here.
      </div>
    </div>
    <div class="col-3">
      Subscribe button
    </div>
  </div>

</main>
