<main class="container my-3">
  <div class="row">
    <div class="col-6">
      <h1>My username</h1>
      <p>Streaming "Random Video Name"</p>
    </div>
    <div class="col-6">
      <button class="subscribe btn">
        Subscribe
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="stream-container" style='background:black; height:50vh;'>
        Video goes here.
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <div class="progress my-3">
        <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
    <div class="col-4">
      <h1>Timer: 1:00</h1>
    </div>
  </div>
</main>
