<main class="container my-3">
  <div class="row py-3 align-items-center">
      <div class='user'>
        <div class='user-avatar-wrapper'>
          <%= image_tag 'anonymous.jpg', class:"user-avatar", alt:"User Profile Picture"%>
          <span><i class='fa fa-eye fa-fw'></i><p id='current-viewers'>10</p></span>
        </div>
        <div class='user-details-wrapper ml-5'>
          <h1 class='h2'>username</h1>
          <p>is now streaming</p>
          <h2>Title of Stream</h2>
        </div>
      </div>
  </div>

  <div class="row">
    <div class="col-9">
      <div class="stream-container" style='background:black; height:50vh;'>
        Video goes here.
      </div>
    </div>
    <div class="col-3">
      Subscribe button
    </div>
  </div>

</main>
