<main class="container">
  <div class="row">
		<iframe class='view' width="1000" height="500" src="https://www.youtube.com/embed/<%= @videos %>?autoplay=1&start=944"></iframe>
		<button id='executer-button'>Change</button>
  </div>
</main>
