<div class="welcome">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Hi, we are</h1>
        <%= link_to root_path do %>
        <% image_tag 'streamr_logo_8bit.svg', class: "logo", alt:"Streamr"%>
        <% end %>
        <h2 class='mt-5'>a community platform for gaming enthusiasts and professionals to discover e-Sports streams together.</h2>
      </div>
    </div>
  </div>
</div>
