<div id="btn-affiliate">Affiliates</div>

<div id="affiliate" class="sidenav">
  <h1>Proudly Affiliated with</h1>
  <div>
    <%= image_tag 'elabs.png', alt:"Elabs"%>
    <%= image_tag 'smartgamer.png', alt:"Smartgamer"%>
  </div>
</div>
