<div id="btn-affiliate">Affiliates</div>

<div id="affiliate" class="sidenav">
  <h1>Proudly Affiliated with</h1>
  <div>
    <%= link_to image_tag('elabs.png', alt:"Elabs"), "https://elabs-next.herokuapp.com/" %>
    <%= link_to image_tag('smartgamer.png', alt:"Smartgamer"), "https://smart-gamer.herokuapp.com/" %>
  </div>
</div>
