<footer>
  <div class='container'>
    <div class='row'>
      <div class='col-12 text-center'>
        <p>2017 © Streamr.
          <span data-toggle="modal" data-target=".bd-example-modal-lg"> Special thanks to Kevin & Sheng!</span>
        </p>
        </div>
      </div>
    </div>
  </footer>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <%= image_tag("thanks.jpg") %>
    </div>
  </div>
</div>
