<nav class="navbar navbar-expand-lg fixed-top ">
  <%= link_to root_path do %>
      <% image_tag '', class: "logo", alt:"Streamr"%>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class='fa fa-bars'></i>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class='navbar-nav ml-auto'>
        <li class="navbar-item">
          <div class: "nav-link" align="center"><%= link_to "Sign in to Youtube", "/user/sign_up/yt" %></div>
          <%#= link_to 'Sign out', sign_out_path, class: "nav-link", method: :delete %>
        </li>
        <li class="navbar-item">
          Login
        <%#= link_to 'Sign in', sign_in_path, class: "nav-link" %>
        </li>
        <li class="navbar-item">
          Sign up
        <%#= link_to 'Sign up', sign_up_path, class: "nav-link" %>
        </li>
    </ul>
  </div>

</nav>
