<nav class="navbar navbar-expand-lg sticky-top">
  <div class='container'>
    <%= link_to root_path do %>
        <% image_tag 'streamr_logo_8bit.svg', class: "logo", alt:"Streamr"%>
    <% end %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class='fa fa-bars'></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class='navbar-nav ml-auto'>
        <li class='navbar-item'>
          <a class="nav-link" id='open-tour' data-toggle="chardinjs">How to use Streamr</a>
        </li>
        <% if current_user %>
        <li class="navbar-item queue" data-intro="When you start a stream, queue your stream and we'll play it!" data-position="left">
          <%= link_to "Queue Your Stream now", queue_path, class: "nav-link", remote: true %>
        </li>
        <li class="navbar-item">
            <%= link_to "Logout", logout_path, class: "nav-link" %>
          </li>
          <% else %>
          <li class="navbar-item login" data-intro="Log into your YouTube account to stream your live videos on Streamr!" data-position="left">
            <%= link_to "Login", login_path, class:"nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>

  </div>
</nav>
